@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.animated-fade-in-slow {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes move-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-move-in-slow-1 {
  animation-name: move-in;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animated-move-in-slow-2 {
  animation-name: move-in;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animated-move-in-slow-3 {
  animation-name: move-in;
  animation-duration: 0.4s;
  animation-delay: 0.8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
